Lab-02-Google-Sheets-LLM
{
  "name": "Lab02-PostGenerator",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Vj4xvsNbjqY6L0TayjtfgD8gOO_tEygd_Qodo13xcC4",
          "mode": "list",
          "cachedResultName": "Lab02-PostInput",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vj4xvsNbjqY6L0TayjtfgD8gOO_tEygd_Qodo13xcC4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vj4xvsNbjqY6L0TayjtfgD8gOO_tEygd_Qodo13xcC4/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "23cc0947-6789-4548-924d-531ff026e173",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ItbW3aYgCxKaTdnC",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e25140a-fea1-4510-922f-e8394e522cdb",
              "name": "=prompt",
              "value": "=Write a {{$json[\"Platform\"]}} post about the topic: '{{$json[\"Topic\"]}}'.  Tone: {{$json[\"Tone\"]}}.  Include these keywords: {{$json[\"Keywords\"]}}.  Format the post with a catchy headline, 3 key points, and a call to action.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "8435d392-5cdf-4902-b965-7e5219b19be6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.prompt }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        592,
        0
      ],
      "id": "9fa8ad91-5552-4f06-b15f-aa08ce6463d6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        -48
      ],
      "id": "149a0747-9c35-4a11-8cb1-e689410a86fa",
      "name": "Wait",
      "webhookId": "9a5c421e-89b3-4b77-92b0-789aaa532d94"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        720,
        176
      ],
      "id": "54ce85ef-6aaa-40db-acb4-b08513aa3767",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "a0EEVwSYz5dhhrnK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.text }}",
        "name": "=Post_{{ $json[\"Topic\"] }}_{{ $now }}.docx",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        0
      ],
      "id": "ef51ed58-1a90-44f1-94c3-53286ee66896",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SvgYPDq58kAuux7o",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4fb3aaaf-7b79-4b36-a76c-8f1a7054d534",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e83ed361eedfb0eeb5f03175381132386c665b0e477bdc5ef60a598901123177"
  },
  "id": "7FqbJ4XqyiJoG1nk",
  "tags": []
}