Lab-05-Hybrid-RAG/Lab05-RAG-Groq-Chatbot (3).json
{
  "name": "Lab05-RAG-Groq-Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lab05/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        0
      ],
      "id": "61725ff6-0839-4692-be65-2063e07c3d57",
      "name": "Webhook",
      "webhookId": "dff6935c-fbb9-456e-b0a5-2201ec2ed8e2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $input.item.json.body;\nconst question = (body.question || '').trim();\nconst studentName = (body.studentName || 'Anonymous').trim();\nconst history = Array.isArray(body.history) ? body.history : [];\nif (!question) throw new Error('Missing required field: question');\nconst windowedHistory = history.slice(-10);\nreturn { json: { question, studentName, history: windowedHistory } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        0
      ],
      "id": "93602852-3227-4cdc-8ef2-64f639a632f2",
      "name": "Query Prep"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.18.55:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"={{ $json.question }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        0
      ],
      "id": "8c81a9c6-6bbf-43f2-ba1e-324625820871",
      "name": "Ollama Embed Query"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"test\" }",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16,
        208
      ],
      "id": "63eb4993-dab4-4cf0-b971-83d50a7b1f1f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lab05-knowledge-base-g4lhclu.svc.aped-4627-b74a.pinecone.io/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"software-engineering-kb\",\n  \"topK\": 3,\n  \"includeMetadata\": true,\n  \"vector\": {{ JSON.stringify($json.embedding) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        0
      ],
      "id": "d346f61a-7767-450b-836c-e7a90330af1e",
      "name": "Pinecone Query",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6ZH91HAaB4Vouu0U",
          "name": "Pinecone"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const pineconeResult = $input.item.json;\nconst matches = pineconeResult.matches || [];\nconst THRESHOLD = 0.60;\nconst relevant = matches.filter(m => m.score >= THRESHOLD);\nlet contextBlock = '';\nconst sources = [];\nconst scores = [];\nif (relevant.length > 0) {\n  relevant.forEach((m, idx) => {\n    const meta = m.metadata || {};\n    contextBlock += '[' + (idx+1) + '] ' + meta.content + ' (Source: ' + meta.source + ')\\n\\n';\n    sources.push(meta.entryId + ' - ' + meta.topic + ' (' + meta.source + ')');\n    scores.push(parseFloat(m.score.toFixed(3)));\n  });\n}\n\nconst question = $input.item.json.question || '';\nconst studentName = $input.item.json.studentName || '';\nconst history = $input.item.json.history || [];\n\nreturn {\n  contextFound: relevant.length > 0,\n  contextBlock,\n  sources,\n  scores,\n  topScore: scores.length > 0 ? Math.max(...scores) : 0,\n  retrievedCount: relevant.length,\n  question,\n  studentName,\n  history\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "ab9b1d8a-94fb-45ce-b0e7-2a343829d04f",
      "name": "Build Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a14f970d-290d-41a8-85de-d41eccf07274",
              "leftValue": "={{ $json.contextFound }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        0
      ],
      "id": "d4ae8ab2-f6db-4201-83b1-bb78081c6929",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ctx = $input.item.json;\nconst systemMessage = {\n  role: 'system',\n  content: 'You are a precise academic assistant for a Computer Science course at Air University.\\nRULES:\\n1. Answer ONLY using the context provided below.\\n2. If the context does not fully answer the question, say so clearly.\\n3. Be concise and accurate. Target 3-5 sentences.\\n4. Always end with: Sources: [list the sources used]\\n5. Never fabricate facts not present in the context.'\n};\nconst historyMessages = ctx.history || [];\nconst currentUser = {\n  role: 'user',\n  content: 'CONTEXT:\\n' + ctx.contextBlock + '\\nQUESTION: ' + ctx.question + '\\nAnswer based strictly on the context above.'\n};\nreturn { json: { ...ctx, messages: [systemMessage, ...historyMessages, currentUser] } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -64
      ],
      "id": "04e84dcb-b504-4c49-b18f-213c71ce45e9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"max_tokens\": 500,\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        -80
      ],
      "id": "305f5bbd-f38f-44e3-9946-2b23bf1a8baa",
      "name": "Groq Generate",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JJ9UrqVhr9owEhte",
          "name": "Groq"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ctx = $('Code in JavaScript').item.json;\nconst groqResult = $input.item.json;\nconst answer = groqResult.choices[0].message.content;\nconst history = Array.isArray(ctx.history) ? ctx.history : [];\nconst updatedHistory = [...history,\n  { role: 'user', content: ctx.question },\n  { role: 'assistant', content: answer }\n].slice(-10);\nreturn { json: {\n  status: 'success',\n  studentName: ctx.studentName,\n  question: ctx.question,\n  answer,\n  sources: Array.isArray(ctx.sources) ? ctx.sources.join('; ') : '',\n  topScore: ctx.topScore || 0,\n  retrievedCount: ctx.retrievedCount || 0,\n  contextUsed: true,\n  history: updatedHistory,\n  timestamp: new Date().toISOString()\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -96
      ],
      "id": "35e3ae0f-81a7-4521-bd3f-1777354bbc5a",
      "name": "Build Response"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1632,
        -288
      ],
      "id": "c8f5befc-b6c9-4210-b8e9-9d6777f368c1",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"no_context\",\n  \"answer\": \"I could not find relevant information in the knowledge base.\",\n  \"topScore\": {{ $json.topScore }},\n  \"retrievedCount\": 0,\n  \"contextUsed\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1056,
        160
      ],
      "id": "be005ba9-044d-4de7-a149-e900028ffd28",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Query Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Prep": {
      "main": [
        [
          {
            "node": "Ollama Embed Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embed Query": {
      "main": [
        [
          {
            "node": "Pinecone Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Query": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Groq Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Generate": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8ffe5a45-9f2e-41b6-9c90-6f3f9c29ac6c",
  "meta": {
    "instanceId": "e83ed361eedfb0eeb5f03175381132386c665b0e477bdc5ef60a598901123177"
  },
  "id": "PhnM2K5AMmEV3I98",
  "tags": []
}