Lab-05-Hybrid-RAG/Task 2 Lab 5.json
{
  "name": "Task 2 Lab 5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        0
      ],
      "id": "a65a05ac-dee1-4b22-8abd-31206dacedeb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12iEbE5upONqQ91CIe20ODLnwMhH3ErWY00U3CFVe0OE",
          "mode": "list",
          "cachedResultName": "Lab04-KnowledgeBase",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12iEbE5upONqQ91CIe20ODLnwMhH3ErWY00U3CFVe0OE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12iEbE5upONqQ91CIe20ODLnwMhH3ErWY00U3CFVe0OE/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        0
      ],
      "id": "e28bba54-706c-4b01-8dc7-4d11685d9988",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oyIPxi1rUSkv5KWv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine fields into a rich text string for embedding.\n// Including Topic, Keywords, and Content gives the model fuller semantic context.\nconst items = $input.all();\n\nreturn items.map(item => {\n  const e = item.json;\n  const textToEmbed = `Topic: ${e.Topic}. Keywords: ${e.Keywords}. ${e.Content}`;\n  \n  return {\n    json: {\n      id: e.EntryID,\n      textToEmbed,\n      metadata: {\n        entryId: e.EntryID,\n        topic: e.Topic,\n        content: e.Content,\n        source: e.Source,\n        keywords: e.Keywords\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "id": "c11e85ef-2f0b-47f3-9501-b33276079ece",
      "name": "Prepare Embedding Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.18.55:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{ $json.textToEmbed }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        208
      ],
      "id": "7f6ae8d8-153b-4fe1-b65e-33208d55b4c9",
      "name": "Ollama Embed"
    },
    {
      "parameters": {
        "jsCode": "const mergedItems = $input.all();\n\nconst vectors = mergedItems.map(item => ({\n  id: item.json.id,\n  values: item.json.embedding,\n  metadata: item.json.metadata\n}));\n\nreturn [{ json: { vectors } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "3665a463-248f-457f-9879-403e6d5dfad1",
      "name": "Collect Embeddings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lab05-knowledge-base-g4lhclu.svc.aped-4627-b74a.pinecone.io/vectors/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"software-engineering-kb\",\n  \"vectors\": {{ JSON.stringify($json.vectors) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        0
      ],
      "id": "d521af11-6031-49de-b9bd-f97b0d854a79",
      "name": "Pinecone Upsert",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6ZH91HAaB4Vouu0U",
          "name": "Pinecone"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        -48
      ],
      "id": "f1afd95c-2ca3-4aaa-8fc0-dc964ce77390",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Prepare Embedding Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Embedding Input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ollama Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embed": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Collect Embeddings": {
      "main": [
        [
          {
            "node": "Pinecone Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Collect Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "efe8df2e-99a3-452c-b640-30a9fe3c9547",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e83ed361eedfb0eeb5f03175381132386c665b0e477bdc5ef60a598901123177"
  },
  "id": "xS8mi03SvJBtOQuz",
  "tags": []
}