Lab-01-n8n-Automation/Lab Task 1_ Webhook-Based Input Validation (2).json
{
  "name": "Lab Task 1: Webhook-Based Input Validation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "735fb0d0-e886-4eb4-ad3f-ae7f6cfe6a4d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        16
      ],
      "id": "78e9046b-a7ec-4874-885f-6a42b854ccf7",
      "name": "Webhook",
      "webhookId": "8f5dead1-5733-4d24-973b-78bfaafbcaa4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"accepted\"}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        0
      ],
      "id": "f2acf8d0-6b39-412d-ab48-a3021179b3b6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bb6fa8af-04e6-43fc-aed7-782b5321b3d4",
              "leftValue": "={{$json.body.message.length}}\n",
              "rightValue": "=5",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        16
      ],
      "id": "f76a216c-ddc3-4217-8ef3-ae8a229eaf6c",
      "name": "Validate Message Length"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "423211c3-c1ec-44ca-8b7f-1d858d4573c1",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "5cc56749-851c-4cd7-91ef-b404ccab68f8",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "b6b9597d-2132-4c52-97cf-31dac5b42f23",
              "name": "course",
              "value": "={{ $json.body.course }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "e6fda54d-74b5-476a-9574-de6fe6d93ffc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"rejected\"}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -32,
        160
      ],
      "id": "7f5004c3-e4ad-4098-8bbb-fa5bdbd105b2",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Message Length",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Message Length": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7b66622f-d4b5-485a-9f61-6392a72af970",
  "meta": {
    "instanceId": "e83ed361eedfb0eeb5f03175381132386c665b0e477bdc5ef60a598901123177"
  },
  "id": "PKJjO9RTE02S3CEd",
  "tags": []
}