Lab-01-n8n-Automation/Lab01-Webhook-Echo.json
{
  "name": "Lab01-Webhook-Echo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "735fb0d0-e886-4eb4-ad3f-ae7f6cfe6a4d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b4811e3a-c846-4063-b886-87f93ed9383d",
      "name": "Webhook",
      "webhookId": "735fb0d0-e886-4eb4-ad3f-ae7f6cfe6a4d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a23fcb83-8cd8-473c-81bc-2b42e26cd6a1",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "b3a53c2c-0ab9-49b4-b319-92d10d445603",
              "name": "messege",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "4ee065e6-cb0c-4d78-85f8-88cf03f57084",
              "name": "course",
              "value": "={{ $json.body.course }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f17f2b90-d1a3-4a1d-a944-24fb266d1027",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "472740e5-e9e8-4813-afe3-b8d81c612dcd",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b9a37ef3-a8bc-44ac-a970-ae8b3bee4016",
  "meta": {
    "instanceId": "e83ed361eedfb0eeb5f03175381132386c665b0e477bdc5ef60a598901123177"
  },
  "id": "QPu2DmTt1N2G4YQM",
  "tags": []
}